<!DOCTYPE html>
<html lang="en" data-theme="business">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <nav class="navbar bg-base-100">
        <div class="container mx-auto">
            <div class="flex-1">
                <p class="text-xl">Expense Overview</p>
            </div>
            <div class="flex-none">
                <a href="/" class="underline text-secondary">Back to Home</a>
            </div>
        </div>
    </nav>
    <br>
    <div class="container mx-auto grid grid-cols-12">
        <div class="col-span-8">
            <div class="">
                <div class="stats">
                    <div class="stat">
                        <div class="stat-figure text-primary">
                            <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg> -->
                            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="inline-block fill-primary w-9 h-9 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M441-120v-86q-53-12-91.5-46T293-348l74-30q15 48 44.5 73t77.5 25q41 0 69.5-18.5T587-356q0-35-22-55.5T463-458q-86-27-118-64.5T313-614q0-65 42-101t86-41v-84h80v84q50 8 82.5 36.5T651-650l-74 32q-12-32-34-48t-60-16q-44 0-67 19.5T393-614q0 33 30 52t104 40q69 20 104.5 63.5T667-358q0 71-42 108t-104 46v84h-80Z"/></svg> -->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
                                class="inline-block fill-primary w-8 h-8"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                <path
                                    d="M64 32C46.3 32 32 46.3 32 64v64c-17.7 0-32 14.3-32 32s14.3 32 32 32l0 32c-17.7 0-32 14.3-32 32s14.3 32 32 32l0 64v96c0 17.7 14.3 32 32 32s32-14.3 32-32V384h80c68.4 0 127.7-39 156.8-96H352c17.7 0 32-14.3 32-32s-14.3-32-32-32h-.7c.5-5.3 .7-10.6 .7-16s-.2-10.7-.7-16h.7c17.7 0 32-14.3 32-32s-14.3-32-32-32H332.8C303.7 71 244.4 32 176 32H64zm190.4 96H96V96h80c30.5 0 58.2 12.2 78.4 32zM96 192H286.9c.7 5.2 1.1 10.6 1.1 16s-.4 10.8-1.1 16H96V192zm158.4 96c-20.2 19.8-47.9 32-78.4 32H96V288H254.4z" />
                            </svg>
                        </div>
                        <div class="stat-title">Total Expense</div>
                        <div class="stat-value text-primary">
                            <%= data.expenseTotal %>
                        </div>
                        <!-- <div class="stat-desc">As of this month</div> -->
                    </div>
                </div>
            </div>
            <br>
            <div class="">
                <table class="overflow-x-auto table table-zebra">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Note</th>
                            <th>Amount</th>
                            <th>Date Created</th>
                            <th class="dropdown dropdown-end">
                                <div tabindex="0" role="button" class="btn btn-xs flex items-center btn-ghost m-1">
                                    Status
                                    <svg width="16" height="16" fill="none" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M4.22 8.47a.75.75 0 0 1 1.06 0L12 15.19l6.72-6.72a.75.75 0 1 1 1.06 1.06l-7.25 7.25a.75.75 0 0 1-1.06 0L4.22 9.53a.75.75 0 0 1 0-1.06Z"
                                            fill="#ffffff" />
                                    </svg>
                                </div>
                                <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
                                    <% let url=new URL(data.currentUrl); %>

                                        <% url.searchParams.delete('status'); %>
                                            <li><a href="<%= url.toString() %>">Show All</a></li>

                                            <% url.searchParams.set('status', 'active' ); %>
                                                <li><a href="<%= url.toString() %>">Active</a></li>
                                                <% url.searchParams.set('status', 'deleted' ); %>
                                                    <li><a href="<%= url.toString() %>">Deleted</a></li>
                                </ul>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for (let item of data.expenses.items) {%>
                            <tr>
                                <td>
                                    <%= item.category %>
                                </td>
                                <td>
                                    <%= item.note %>
                                </td>
                                <td>
                                    Php <%= Intl.NumberFormat('en', {notation: 'compact' , maximumFractionDigits:
                                        2}).format(item.amount ?? 0) %> %>
                                </td>
                                <td>
                                    <%= new Date(item.created_at).toLocaleDateString() %>
                                </td>
                                <td>
                                    <%= item.delete_time !=null ? 'deleted' : 'active' %>
                                </td>
                                <td class="dropdown dropdown-end">
                                    <div tabindex="0" class="cursor-pointer">
                                        <svg width="24" height="24" fill="none" viewBox="0 0 24 24"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M7.75 12a1.75 1.75 0 1 1-3.5 0 1.75 1.75 0 0 1 3.5 0ZM13.75 12a1.75 1.75 0 1 1-3.5 0 1.75 1.75 0 0 1 3.5 0ZM18 13.75a1.75 1.75 0 1 0 0-3.5 1.75 1.75 0 0 0 0 3.5Z"
                                                fill="#ffffff" />
                                        </svg>
                                    </div>

                                    <ul tabindex="0"
                                        class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                                        <%if (item.delete_time==null) {%>
                                            <li><a href="/soft-delete/<%=item.record_id%>?userId=<%=item.user_id%>">Soft
                                                    Delete</a></li>
                                            <%} else {%>
                                                <li><a
                                                        href="/restore-record/<%=item.record_id%>?userId=<%=item.user_id%>">Restore</a>
                                                </li>
                                                <%}%>
                                                    <li><button data-record-id="<%=item.record_id%>" data-user-id="<%= item.user_id %>">Hard
                                                            Delete</button></li>
                                    </ul>
                                </td>
                            </tr>
                            <%}%>
                    </tbody>
                </table>
                <%if (data.expenses.itemCount> data.expenses.pageLimit) {%>
                    <div class="join mt-2">
                        <% url=new URL(data.currentUrl); url.searchParams.set('page', data.expenses.page - 1); %>
                            <a href="<%= url.toString() %>"
                                class="join-item btn <%= data.expenses.page == 1 ? 'btn-disabled' : '' %>">«</a>
                            <button class="join-item btn">Page <%= data.expenses.page %></button>
                            <% url.searchParams.set('page', data.expenses.page + 1); %>
                                <a href="<%= url.toString() %>"
                                    class="join-item btn <%= (data.expenses.page - 1) * data.expenses.pageLimit > data.expenses.items.length ? 'btn-disabled' : ''%>">»</a>
                    </div>
                    <%}%>
            </div>
        </div>
        <div class="col-span-4 pl-10 flex flex-col gap-5">
            <div class="row-span-3">
                <p>Categories</p>
                <div>

                    <%for (let i=0; i < data.expenses.amountPerCategory.length; i++) { let
                        item=data.expenses.amountPerCategory[i]; let percentage=((item.amount / data.expenses.total) *
                        100).toFixed(2); %>
                        <div class="mt-2">
                            <p>
                                <%= item.category %>
                            </p>
                            <div class="flex gap-3 items-center">
                                <div class="bg-base-200 h-2 rounded-full mt-2 w-full">
                                    <div style="width: <%= percentage %>%;" class="bg-blue-200 rounded h-full"></div>
                                </div>
                                <span>
                                    <%= percentage %>%
                                </span>
                            </div>
                        </div>
                        <%}%>
                </div>
            </div>

            <!-- Recently deleted -->
            <div class="row-span-3">
                <p>Recently Added</p>
                <div class="mt-2">
                    <% for (let i=0; i < data.recentlyDeleted.items.length; i++) {%>
                        <%let item=data.recentlyDeleted.items[i];%>
                            <div class="p-2 mt-2 rounded w-full bg-base-200 flex items-center justify-between">
                                <div class="flex-1">
                                    <p>
                                        <%= item.category %>
                                    </p>
                                    <p class="text-sm text-secondary">
                                        <%= item.note %>
                                    </p>
                                </div>
                                <div>
                                    <p class="text-sm">Php <%= Intl.NumberFormat('en', {notation: 'compact' ,
                                            maximumFractionDigits: 2}).format(item.amount ?? 0) %> %></p>
                                </div>
                            </div>

                            <% if (i==(data.recentlyDeleted.limit - 1)) break; %>
                                <%}%>
                </div>
<!-- 
                <%if (data.recentlyDeleted.items.length> data.recentlyDeleted.limit) {%>

                    <div class="w-full flex justify-center mt-2">
                        <a href="" class="text-secondary underline">View all</a>
                    </div>

                    <%}%> -->

            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="toast toast-top toast-start">

        <%if (message) {%>
            <div class="alert alert-success">
                <span>
                    <%= message %>
                </span>
            </div>
            <%}%>

    </div>

    <div id="overlay" class="bg-neutral-950/50 fixed left-0 top-0 h-screen w-full <%= error ? '' : 'hidden' %>"></div>
    <div id="add-trans-form" class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 <%= error ? '' : 'hidden' %>">
        <form action="/add-record?userId=<%=userId%>" method="post" class="bg-base-300 p-5 w-96 z-10 mx-auto">
            <h3 class="text-lg font-semibold">Add Transaction</h3>
            <% if (error) { %>
                <div role="alert" class="alert alert-error">
                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span>
                        <%= error %>
                    </span>
                </div>
                <% }%>
                    <label for="username" class="form-control">
                        <div class="label">
                            <span class="label-text">Category</span>
                        </div>
                        <select name="category" class="select select-bordered">
                            <option value="" selected disabled>Choose Categories</option>
                            <option value="Food">Food</option>
                            <option value="Bill">Bill</option>
                            <option value="Utility">Utility</option>
                        </select>
                    </label>

                    <label for="password" class="form-control">
                        <div class="label">
                            <span class="label-text">note</span>
                        </div>
                        <textarea name="note" class="textarea textarea-bordered" id=""></textarea>
                    </label>

                    <label for="password" class="form-control">
                        <div class="label">
                            <span class="label-text">amount</span>
                        </div>
                        <input type="text" name="amount" class="input input-bordered">
                    </label>
                    <br>
                    <button type="submit" class="btn btn-primary w-full">Submit</button>
        </form>
    </div>

    <button id="add-trans-btn" class="btn btn-circle bg-primary btn-lg fixed right-10 bottom-10">
        <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M11.75 3a.75.75 0 0 1 .743.648l.007.102.001 7.25h7.253a.75.75 0 0 1 .102 1.493l-.102.007h-7.253l.002 7.25a.75.75 0 0 1-1.493.101l-.007-.102-.002-7.249H3.752a.75.75 0 0 1-.102-1.493L3.752 11h7.25L11 3.75a.75.75 0 0 1 .75-.75Z"
                fill="#ffffff" />
        </svg>
    </button>

    <div id="alert-dialog"
    class="fixed hidden top-1/2 left-1/2 -translate-x-1/2 bg-base-300 p-5 rounded -translate-y-1/2">
    <p class="text-lg">Are you sure you want to delete this transaction forever?
    </p>
    <br>
    <div>
        <button class="btn" id="alert-cancel-btn">Cancel</button>
        <a class="btn btn-primary" id="alert-confirm-btn">Confirm</a>
    </div>
</div>

    <script>
        const overlay = document.getElementById('overlay');
        const transactionForm = document.getElementById('add-trans-form');
        const addTransactionBtn = document.getElementById('add-trans-btn');

        const alertDialog = document.getElementById('alert-dialog');

        addTransactionBtn.addEventListener('click', evt => {
            overlay.classList.remove('hidden');
            transactionForm.classList.remove('hidden');
        })
        
        overlay.addEventListener('click', evt => {
            overlay.classList.add('hidden');
            transactionForm.classList.add('hidden');
        })

        // Clear ang toast inig 3 seconds
        setTimeout(() => {
            document.querySelector('.toast').innerHTML = "";
        }, 3000)

        document.querySelectorAll('[data-record-id]').forEach(val =>

        val.addEventListener('click', evt => {
            const recordId = evt.target.getAttribute('data-record-id');     
            const userId = evt.target.getAttribute('data-user-id');     

            alertDialog.classList.remove('hidden');
            document.getElementById('alert-confirm-btn').href = '/hard-delete/' + recordId + '?userId=' + userId;
        })
        )

    </script>
</body>

</html>