<!DOCTYPE html>
<html lang="en" data-theme="business">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <nav class="navbar bg-base-100">
        <div class="container mx-auto">
            <div class="flex-1">
                <p class="text-xl">Welcome, John</p>
            </div>
            <div class="flex-none">
                <a href="" class="underline text-secondary">Logout</a>
            </div>
        </div>
    </nav>
    <br>
    <div class="container mx-auto">
        <!-- <h1 class="text-3xl font-semibold">Overview</h1> -->
        <br>
        <div class="w-full flex justify-between items-center">
            <div></div>
            <form action="" method="get" class="flex items-center">
                <input type="text" name="q" placeholder="Enter search term" class="input input-bordered w-96">
            </form>
        </div>
        <br>
        <!-- table -->
        <div class=" overflow-x-auto">
            <table class="table min-w-fit table-zebra">
                <thead>
                    <tr>
                        <%for (let item of data.keys) {%>
                            <th>
                                <%= item %>
                            </th>
                            <%}%>
                                <th></th>
                    </tr>
                </thead>

                <tbody id="users-list">
                    <%for (let item of data.result) {%>
                        <tr>
                            <td>
                                <%= item.name %>
                            </td>
                            <td>
                                <%= item.email %>
                            </td>
                            <td>
                                <%= item.position %>
                            </td>
                            <td>Php <%= Intl.NumberFormat('en', {notation: 'compact' , maximumFractionDigits:
                                    2}).format(item.total_amount ?? 0) %>
                            </td>

                            <td>
                                <a href="/expense-overview/<%= item.user_id %>"
                                    class="underline text-secondary">View</a>

                                <button class="underline text-secondary ml-3"
                                    data-user-id="<%= item.user_id %>">delete</button>
                            </td>
                        </tr>
                        <%}%>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>

    <div class="toast toast-top toast-start">

        <%if (message) {%>
            <div class="alert alert-success">
                <span>
                    <%= message %>
                </span>
            </div>
            <%}%>

    </div>

    <a href="/add-user" class="btn btn-circle bg-primary btn-lg fixed right-10 bottom-10">
        <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M11.75 3a.75.75 0 0 1 .743.648l.007.102.001 7.25h7.253a.75.75 0 0 1 .102 1.493l-.102.007h-7.253l.002 7.25a.75.75 0 0 1-1.493.101l-.007-.102-.002-7.249H3.752a.75.75 0 0 1-.102-1.493L3.752 11h7.25L11 3.75a.75.75 0 0 1 .75-.75Z"
                fill="#ffffff" />
        </svg>
    </a>

    <div class="fixed left-0 top-0 h-screen hidden w-full bg-neutral-950/50" id="overlay"></div>

    <div id="alert-dialog"
        class="fixed hidden top-1/2 left-1/2 -translate-x-1/2 bg-base-300 p-5 rounded -translate-y-1/2">
        <p class="text-lg">Are you sure you want to delete this user?</p>
        <br>
        <div>
            <button class="btn" id="alert-cancel-btn">Cancel</button>
            <a class="btn btn-primary" id="alert-confirm-btn">Confirm</a>
        </div>
    </div>
    <script>
        const alertDialog = document.getElementById('alert-dialog');
        const overlay = document.getElementById('overlay');
        const cancelBtn = document.getElementById('alert-cancel-btn');
        /**@type {HTMLAnchorElement} */
        const confirmBtn = document.getElementById('alert-confirm-btn');



        document.querySelectorAll('[data-user-id]').forEach(val =>

            val.addEventListener('click', evt => {
                console.log(evt.target.getAttribute('data-user-id'));
                let selectedUserId = evt.target.getAttribute('data-user-id');

                overlay.classList.remove('hidden');
                alertDialog.classList.remove('hidden');

                confirmBtn.href = "/delete-user/" + selectedUserId;
            })
        );


            // Clear ang toast inig 3 seconds
        setTimeout(() => {
            document.querySelector('.toast').innerHTML = "";
        }, 3000)



        cancelBtn.addEventListener('click', evt => {
            overlay.classList.add('hidden');
            alertDialog.classList.add('hidden');
        });

    </script>
</body>

</html>